<p>
  <strong>Applicant:</strong>
  <% if logged_in? %>
    <%= link_to(applicant.name, applicant) %>
  <% else %>
    <%= applicant.name %>
  <% end %>
  (<%= mail_to("#{ applicant.email }#{ EMAIL_SUFFIX }") %>)
</p>

<p>
  <strong>Winthrop ID:</strong>
  <%= applicant.wuid %>
</p>

<% if course %>
  <p>
    <strong>Course:</strong>
    <% if logged_in_admin? %>
      <%= link_to(course.full_name, reports_path(course_id: [course.id])) %>
    <% else %>
      <%= course.full_name %>
    <% end %>
  </p>
<% end %>

<p>
  <strong><%= get_possessive(applicant.name) %> comments:</strong>
  <%= applicant.comment %>
</p>

<p>
  <strong>Major:</strong>
  <%= applicant.major %>
</p>

<p>
  <strong>Minor:</strong>
  <%= applicant.minor %>
</p>

<hr>
