<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :professor_comments %><br>
    <%= f.text_area :professor_comments %>
  </div>
  <div class="field">
    <%= f.label :professor_verdict %><br>
    <%= f.check_box :professor_verdict %>
  </div>
  <div class="field">
    <%= f.label :professor_taught %><br>
    <%= f.check_box :professor_taught %>
  </div>
  <div class="field">
    <%= f.label :application_status %><br>
    <%= f.number_field :application_status %>
  </div>
  <div class="field">
    <%= f.label :asc_comments %><br>
    <%= f.text_area :asc_comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
