<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Reviewing <%= @position.applicant.name %></h2>

  <% if logged_in_admin? %>
    <div class="field">
      <%= f.label :professor_comments,  "#{ @position.professor.name }'s Comments:" %><br>
      <%= f.text_area :professor_comments %>
    </div>

    <div class="field">
      <%# TODO: Wording %>
      <%= f.label :professor_verdict, "Does #{ @position.professor.name } recommend #{ @position.applicant.name } for the ASC tutoring program?" %>:
      <%= f.label :professor_verdict , 'Yes', value: true %>
      <%= f.radio_button :professor_verdict , true %>
      <%= f.label :professor_verdict, 'No', value: false %>
      <%= f.radio_button :professor_verdict, false %>
    </div>

    <div class="field">
      <%= f.label :professor_taught, "Did #{ @position.professor.name } teach #{ @position.applicant.name } in #{ @position.course.full_name }?" %>:
      <%= f.label :professor_taught, 'Yes', value: true %>
      <%= f.radio_button :professor_taught, true %>
      <%= f.label :professor_taught, 'No', value: false %>
      <%= f.radio_button :professor_taught, false %>
    </div>

    <div class="field">
      <%= f.label :application_status %>:
      <%= f.collection_select(:application_status, Status.statuses, :num, :to_s) %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :professor_comments,  'Comments:' %><br>
      <%= f.text_area :professor_comments %>
    </div>

    <div class="field">
      <%# TODO: Wording %>
      <%= f.label :professor_verdict, "Would you recommend #{ @position.applicant.name } to be a student tutor?" %>:
      <%= f.label :professor_verdict , 'Yes', value: true %>
      <%= f.radio_button :professor_verdict , true %>
      <%= f.label :professor_verdict, 'No', value: false %>
      <%= f.radio_button :professor_verdict, false %>
    </div>

    <div class="field">
      <%= f.label :professor_taught, "Did you teach #{ @position.applicant.name } in #{ @position.course.full_name }?" %>:
      <%= f.label :professor_taught, 'Yes', value: true %>
      <%= f.radio_button :professor_taught, true %>
      <%= f.label :professor_taught, 'No', value: false %>
      <%= f.radio_button :professor_taught, false %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>

<% if logged_in_admin? %>
  <%= link_to 'Back', positions_path %>
<% end %>
