<h1>Editing position</h1>

<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if logged_in_admin? %>
    <p>
      <strong>Professor comments:</strong>
      <%= @position.professor_comments %>
    </p>

    <p>
      <strong>Professor verdict:</strong>
      <%= @position.professor_verdict ? 'Yes' : 'No' %>
    </p>

    <p>
      <strong>Professor taught:</strong>
      <%= @position.professor_taught ? 'Yes' : 'No' %>
    </p>
    <div class="field">
      <%= f.label :application_status %>:
      <%= f.collection_select(:application_status, Status.statuses, :num, :to_s) %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :professor_comments %><br>
      <%= f.text_area :professor_comments %>
    </div>
    <div class="field">
      <%# TODO: Wording %>
      <%= f.label :professor_verdict, "Would you recommend #{ @position.applicant.name } to be a student tutor?" %>:
      <%= f.label :professor_verdict , 'Yes', value: true %>
      <%= f.radio_button :professor_verdict , true %>
      <%= f.label :professor_verdict, 'No', value: false %>
      <%= f.radio_button :professor_verdict, false %>
    </div>
    <div class="field">
      <%= f.label :professor_taught, "Did you teach #{ @position.applicant.name } in #{ @position.course.full_name }?" %>:
      <%= f.label :professor_taught, 'Yes', value: true %>
      <%= f.radio_button :professor_taught, true %>
      <%= f.label :professor_taught, 'No', value: false %>
      <%= f.radio_button :professor_taught, false %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if logged_in_admin? %>
  <%= link_to 'Back', positions_path %>
<% end %>
