<h1>Listing positions</h1>

<table>
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Course</th>
      <th>Professor verdict</th>
      <th>Professor taught</th>
      <th>Application status</th>
      <th>Professor Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.applicant.name %> (<%= mail_to("#{ position.applicant.email }#{ EMAIL_SUFFIX }") %>)</td>
        <% if position.course %>
          <td><%= position.course.full_name %></td>
        <% else %>
          <td>None</td>
        <% end %>

        <td><%= position.professor_verdict ? 'Yes' : 'No' %></td>
        <td><%= position.professor_taught ? 'Yes' : 'No' %></td>
        <td><%= Status.for_number(position.application_status) %></td>

        <td><%= position.professor.name if position.professor  %> (<%= mail_to("#{ position.professor.email }#{ EMAIL_SUFFIX }") %>)</td>

        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Delete', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
