<h1>Listing positions</h1>

<table>
  <thead>
    <tr>
      <th>Professor comments</th>
      <th>Professor verdict</th>
      <th>Professor taught</th>
      <th>Application status</th>
      <th>Asc comments</th>
      <th>Professor Name</th>
      <th>Professor Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.professor_comments %></td>
        <%# TODO: Update wording %>
        <td><%= position.professor_verdict ? 'Yes' : 'No' %></td>
        <td><%= position.professor_taught ? 'Yes' : 'No' %></td>
        <td><%= Status.for_number(position.application_status) %></td>
        <td><%= position.professor.name if position.professor  %></td>
        <td><%= position.professor.email if position.professor %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
