<p id="notice"><%= notice %></p>

<% if @position.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@position.errors.count, 'error') %> prohibited this position from being saved:</h2>

    <ul>
    <% @position.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="col-xs-6">
  <h2><%= get_possessive(@position.applicant.name) %> recommendation</h2>

  <%# TODO: Add more info about the student and course for this position %>
  <p>
    <strong>Recommending Professor:</strong>
    <%= @position.professor.name %>
  </p>
  <p>
    <strong><%= professor_name_string(@position) %>'s comments:<br/></strong>
    <%= @position.professor_comments %>
  </p>

  <p>
    <strong><%= professor_name_string(@position) %>'s verdict:</strong>
    <%= bool_string(@position.professor_verdict) %>
  </p>

  <p>
    <strong><%= professor_name_string(@position) %> taught <%= @position.applicant.name %>:</strong>
    <%= bool_string(@position.professor_taught) %>
  </p>

  <% if logged_in? %>
    <p>
      <strong>Application status:</strong>
      <%= Status.for_number(@position.application_status) %>
    </p>
  <% end %>
  <%= link_to 'Edit', edit_position_path(@position) %> |
  <%= link_to 'Back', positions_path %>
</div>