<p id="notice"><%= notice %></p>

<% if @position.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@position.errors.count, 'error') %> prohibited this position from being saved:</h2>

    <ul>
    <% @position.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="col-xs-6">
  <h2>Recommendation</h2>

  <%= render 'applicant_info',
    { applicant: @position.applicant,
      course_name: @position.course.full_name }  %>

  <p>
    <strong>Recommending Professor:</strong>
    <%= @position.professor.name if @position.professor %>
  </p>

  <p>
    <strong>Professor's comments:<br/></strong>
    <%= @position.professor_comments %>
  </p>

  <p>
    <strong>Professor's verdict:</strong>
    <%= bool_string(@position.professor_verdict) %>
  </p>

  <p>
    <strong>Professor taught <%= @position.applicant.name %>:</strong>
    <%= bool_string(@position.professor_taught) %>
  </p>

  <hr>

  <% if logged_in? %>
    <p>
      <strong>Application status:</strong>
      <%= Status.for_number(@position.application_status) %>
    </p>
  <% end %>
  <%= link_to 'Edit', edit_position_path(@position) %>
</div>
