<p>
  <div class="field fields">
  <%= f.collection_select  :course_id,
    Course.find_all_by_hidden(false),
    :id, :full_name, prompt: true %>

  <%= f.fields_for :professor do |professor_fields| %>
    <%= professor_fields.text_field :name,
      :placeholder => 'Professor Name' %>
    <%= professor_fields.text_field :email,
      :placeholder => 'Professor Email' %> <%= EMAIL_SUFFIX %>
  <% end %>
  <%= link_to_remove_closest('Remove', ".fields") if removable %>
  </div>
</p>
