<h1>Editing applicant</h1>
<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, 'error') %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :class_standing %>
    <%= f.collection_select(:class_standing, Standing.standings, :num, :name) %>
  </div>

  <% if logged_in_admin? %>
    <div class="field">
      <% if @applicant.gpa_timestamp %>
        <%= f.label :gpa, "GPA (#{ @applicant.gpa_timestamp.strftime(DATE_FORMAT_TEXT) })" %><br>
      <% else %>
        <%= f.label :gpa, 'GPA' %><br>
      <% end %>
      <%= f.text_field :gpa %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :major %><br>
    <%= f.text_field :major %>
  </div>

  <div class="field">
    <%= f.label :minor %><br>
    <%= f.text_field :minor %>
  </div>

  <div class="field">
    <%= f.label :work_study, 'Eligible for work study' %>
    <%= f.check_box :work_study %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @applicant %> |
<%= link_to 'Back', applicants_path %>
