<h1>Editing applicant</h1>
<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, 'error') %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :class_standing %>
    <%= f.collection_select(:class_standing, Standing.standings, :num, :name) %>
  </div>

  <% if logged_in_admin? %>
    <div class="field">
      <% if @applicant.gpa_timestamp %>
        <%= f.label :gpa, "GPA (#{ @applicant.gpa_timestamp.strftime(DATE_FORMAT_TEXT) })" %><br>
      <% else %>
        <%= f.label :gpa, 'GPA' %><br>
      <% end %>
      <%= f.text_field :gpa %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :major %><br>
    <%= f.text_field :major %>
  </div>

  <div class="field">
    <%= f.label :minor %><br>
    <%= f.text_field :minor %>
  </div>

  <p>
    <strong>Courses:</strong>
    <ul>
      <% @applicant.positions.each do |p| %>
        <% if !p.new_record? %>
          <% if p.course %>
            <li><%= p.course.full_name %> <%= p.professor.name %></li>
          <% end %>
        <% else %>
          <%= f.fields_for :positions, p do |position_fields| %>
            <%= render 'position_fields', :f => position_fields %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <p><%= link_to_add_fields 'Add Course', f, :positions %></p>
  </p>

  <div class="field">
    <%= f.label :work_study, 'Eligible for work study:' %>
    <%= f.check_box :work_study %>
  </div>

  <% if logged_in_moderator? %>
    <div class="field">
      <%= f.label :asc_comments, 'ASC Comments:' %>
      <%= f.text_area :asc_comments %>
    </div>

    <div class="field">
      <%= f.label :interviewed, 'Has been interviewed:' %>
      <%= f.check_box :interviewed %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @applicant %> |
<%= link_to 'Back', applicants_path %>
