<h1>Listing applicants</h1>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table class="table table-hover table-striped clickable">
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'email' %></th>
      <th>GPA</th>
      <th>GPA Last Updated</th>
      <th>Courses</th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr id="<%= applicant_path(applicant) %>">
        <td>
          <%= link_to(applicant.name, applicant) %>
          <% if applicant.work_study %>
            (Work Study)
          <% end %>
        </td>
        <td><%= mail_to("#{ applicant.email }#{ EMAIL_SUFFIX }") %></td>
        <td><%= applicant.gpa %></td>
        <% if applicant.gpa %>
          <td><%= applicant.gpa_timestamp.strftime(DATE_FORMAT) %></td>
        <% else %>
          <td>Never</td>
        <% end %>
        <td>
          <% applicant.positions.each do |p| %>
            <%= link_to("#{ p.course.full_name } (#{Status.for_number(p.application_status).name})", p) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @applicants, renderer: BootstrapPagination::Rails %>
