<h1>Listing applicants</h1>

<p id="notice"><%= notice %></p>

<table class="table table-hover table-striped clickable">
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'email' %></th>
      <th>GPA</th>
      <th>GPA Last Updated</th>
      <th>Courses</th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr id="<%= applicant_path(applicant) %>">
        <td>
          <%= link_to(applicant.name, applicant) %>
          <% if applicant.work_study %>
            (Work Study)
          <% end %>
        </td>
        <td><%= mail_to("#{ applicant.email }#{ EMAIL_SUFFIX }") %></td>
        <td><%= applicant.gpa %></td>
        <% if applicant.gpa %>
          <td><%= applicant.gpa_timestamp.strftime(DATE_FORMAT) %></td>
        <% else %>
          <td>Never</td>
        <% end %>
        <td><%= applicant.comma_courses %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @applicants %>

<br>

<%= link_to 'New Applicant', new_applicant_path %>
