<h1>Listing applicants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>GPA</th>
      <th>GPA Last Updated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td>
          <%= applicant.name %>
          <% if applicant.work_study %>
            (Work Study)
          <% end %>
        </td>
        <td><%= applicant.email %><%= EMAIL_SUFFIX %></td>
        <td><%= applicant.gpa %></td>
        <% if applicant.gpa %>
          <td><%= applicant.gpa_timestamp.strftime(DATE_FORMAT) %></td>
        <% else %>
          <td>Never</td>
        <% end %>
        <td><%= link_to 'Show', applicant %></td>
        <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
        <td><%= link_to 'Destroy', applicant,
          method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant', new_applicant_path %>
