<h2>Tutor Application</h2>

<%= form_for(@applicant, method: 'create',  :html => {:class => "form-horizontal"}) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, 'error') %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name,  class: 'form-control', placeholder: "Name" %>
  </div>
  <div class="field">
    <%# TODO: The email suffix get's put on a newline when there are errors %>
    <%= f.text_field :email , class: 'form-control', placeholder: "Email" %> <%= EMAIL_SUFFIX %>
  </div>
  <div class="field">
    <%= f.text_field :wuid, class: 'form-control', placeholder: "Winthop Id" %>
  </div>
  <div class="field">
    <%= f.text_field :phone_number, class: 'form-control', placeholder: "Phone Number" %>
  </div>
  <div class="field">
    <%= f.label :class_standing %>
    <%= f.collection_select(:class_standing, Standing.standings, :num, :name) %>
  </div>
  <div class="field">
    <%= f.text_area :comment, class: 'form-control', placeholder: "Comments" %>
  </div>
  <div class="field">
    <%= f.text_field :major, class: 'form-control', placeholder: "Major" %>
  </div>
  <div class="field">
    <%= f.text_field :minor, class: 'form-control', placeholder: "Minor" %>
  </div>
  <div class="field checkbox inline">
    <%= f.check_box :work_study %> Work Study
  </div>

  <%# TODO: Show one course and available time as soon as the view loads %>
  <h4>Availability</h4>
  <%= f.fields_for :available_times do |available_time_fields| %>
    <%= render 'available_time_fields', :f => available_time_fields %>
  <% end %>
  <p><%= link_to_add_fields 'Add Availability', f, :available_times %></p>

  <h4>Courses</h4>
  <%= f.fields_for :positions do |position_fields| %>
    <%= render 'position_fields', :f => position_fields %>
  <% end %>
  <p><%= link_to_add_fields 'Add Course', f, :positions %></p>

  <div class="actions">
    <%= f.submit 'Submit Application' %>
  </div>
<% end %>

<%= link_to 'Back', applicants_path %>
