<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %><%= EMAIL_SUFFIX %>
</p>

<p>
  <strong>Wuid:</strong>
  <%= @applicant.wuid %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @applicant.phone_number %>
</p>

<p>
  <strong>Class standing:</strong>
  <%= @applicant.class_standing %>
</p>

<% if logged_in_admin? %>
  <% if @applicant.gpa %>
    <p>
      <strong>GPA (<%= @applicant.gpa_timestamp.strftime(DATE_FORMAT_TEXT) %>):</strong>
      <%= @applicant.gpa %>
    </p>
  <% else %>
    <p>
      <strong>GPA:</strong> hasn't been entered
    </p>
  <% end %>
<% end %>

<p>
  <strong>Comment:</strong>
  <%= @applicant.comment %>
</p>

<p>
  <strong>Major:</strong>
  <%= @applicant.major %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @applicant.minor %>
</p>

<p>
  <strong>Eligible for work study:</strong>
  <%= @applicant.work_study ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Courses:</strong>
  <ul>
    <% @applicant.positions.each do |p| %>
      <li><%= p.course.full_name %> <%= p.professor.name %>
      (<%= mail_to("foobar@gmail.com") %>)</li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
