<h1>Users</h1>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<% @users.each do |user| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% user.errors.each do |key, value| %>
          <li><%= value %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Permissions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if Level.for_number(user.level) %>
          <td><%= Level.for_number(user.level).name %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Reset password', email_user_path(user), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New User', new_user_path, method: :get %>
