<div class="col-md-4">
  <h1>Editing professor</h1>

  <%= form_for(@professor) do |f| %>
    <% if @professor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

        <ul>
          <% @professor.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <br>
    <% if logged_in_admin? %>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %><%= EMAIL_SUFFIX %>
      </div>
    <% else %>
      <p>
        <strong>Email</strong> (Contact the ASC to edit your email address):
        <br>
        <%= @professor.email %><%= EMAIL_SUFFIX %>
      </p>
    <% end %>
    <div class="actions">
      <%= f.submit 'Update', class: 'btn btn-primary' %>
      <%= link_to 'Back', @professor, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
