<% provide(:title, 'Professors') %>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>All professors</h1>

<table class="table table-hover table-striped clickable">
  <thead>
    <tr>
      <th><%= sortable 'name' %></th>
      <th><%= sortable 'email' %></th>
      <th>Pending Recommendations</th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr id="<%= professor_url(professor) %>">
        <td><%= link_to(professor.name, professor) %></td>
        <td><%= mail_to("#{ professor.email }#{ EMAIL_SUFFIX }") %></td>
        <td><%= professor.pending_positions.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @professors, renderer: BootstrapPagination::Rails  %>
