<p id="notice"><%= notice %></p>

<%# TODO: Center this at the top %>
<%= @professor.name %>
 (<%= @professor.email %><%= EMAIL_SUFFIX %>)
<%= link_to 'Edit', edit_professor_path(@professor) %>
<% if logged_in_admin? %>
  | <%= link_to 'All Professors', professors_path %>
<% else %>
  <%# TODO: Include view passing professor for pending recommendations %>
<% end %>
