<p id="notice"><%= notice %></p>

<%# TODO: Center this at the top %>
<%= @professor.name %>
 (<%= mail_to("#{ @professor.email }#{ EMAIL_SUFFIX }") %>)

<%= render 'pending', { positions: @professor.pending_positions } %>

<% if logged_in_admin? %>
  <%= link_to 'Edit', edit_professor_path(@professor) %>
  | <%= link_to 'Delete', @professor, method: :delete, data: { confirm: 'Are you sure?' } %>
  | <%= link_to 'Email', email_professor_path(@professor), method: :post %>
<% else %>
  <%= link_to 'Edit', edit_professor_path(@professor) %>
<% end %>
