<h1>Listing courses</h1>

<p id="notice">
  <%= notice %>
</p>

<% @courses.each do |course| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% course.errors.each do |key, value| %>
          <li><%= value %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Designator</th>
      <th>Number</th>
      <th>Hidden</th>
      <th>Disabled</th>
    </tr>
  </thead>

  <tbody>
  <%= form_tag(update_multiple_courses_path, method: :put) do %>
    <% @courses.each do |course| %>
      <%= fields_for 'courses[]', course do |f| %>
        <tr>
          <td><%= course.designator %></td>
          <td><%= course.number %></td>
          <td><%= f.check_box :hidden %></td>
          <td><%= f.check_box :disabled %></td>
        </tr>
      <% end %>
    <% end %>
    <%= submit_tag 'Update Courses' %>
    <%= link_to 'New Course', new_course_path %>
  <% end %>
  </tbody>
</table>

