<p id="notice"><%= notice %></p>

<p>
  <strong>Designator:</strong>
  <%= @course.designator %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Hidden:</strong>
  <%= @course.hidden %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @course.disabled %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
