<h2><%= @name %>,</h2>

<p>There <%= 'is'.pluralize(@count) %> <%= pluralize(@count, 'recommendation') %> for ASC tutoring positions awaiting your review. Please fill out the <%= 'recommendation'.pluralize(@count) %> <a href="<%= @link %>">here</a>.</p>

<p>
Thank you,
ASC Staff
</p>
