<h1>Listing available_times</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Start</th>
      <th>Finish</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @available_times.each do |available_time| %>
      <tr>
        <td><%= available_time.day %></td>
        <td><%= available_time.start %></td>
        <td><%= available_time.finish %></td>
        <td><%= link_to 'Show', available_time %></td>
        <td><%= link_to 'Edit', edit_available_time_path(available_time) %></td>
        <td><%= link_to 'Destroy', available_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Available time', new_available_time_path %>
