<div class="col-md-6">
  <h1>Editing email</h1>

  <%= form_for(@email) do |f| %>
    <% if @email.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

        <ul>
          <% @email.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body %> (Use [NAME] and [URL] for where the respective values should be placed)
      <%= f.text_area :body, class: 'form-control', rows: 10 %>
    </div>

    <div class="field">
      <%= f.label :subject %>
      <%= f.text_field :subject, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :reply_to %>
      <%= f.text_field :reply_to, class: 'form-control' %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Back', @email, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
