<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable 'name', 'Applicant Name' %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.name %> (<%= mail_to("#{ applicant.name }#{ EMAIL_SUFFIX }") %>)</td>
        <%# <td><%= link_to 'Show', report %1></td> %>
        <%# <td><%= link_to 'Edit', edit_report_path(report) %1></td> %>
        <%# <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %1></td> %>
      </tr>
    <% end %>
  </tbody>
</table>
