<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable 'name', 'Applicant Name' %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.name %> (<%= mail_to("#{ applicant.name }#{ EMAIL_SUFFIX }") %>)</td>
        <td><%= link_to 'Details', applicant %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @applicants %>
