<h1>Listing reports</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable 'name', 'Applicant Name' %></th>
      <th><%= 'Positions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= link_to applicant.name, applicant%> (<%= mail_to("#{ applicant.email }#{ EMAIL_SUFFIX }") %>)</td>
        <td>
          <% applicant.positions.each do |p| %>
            <%= link_to "#{p.course.full_name} (#{Status.for_number(p.application_status).name})", p %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @applicants %>
