<div class="col-md-6">
<h2>Tutor Application</h2>

<%= form_tag('/reports', method: :get) do %>
  <div id="field">
    <%= label_tag(:name, nil, class: 'sr-only') %>
    <%= text_field_tag :name, @values[:name], class: 'form-control', placeholder: 'Name' %>
  </div>
  <br>
  <div id="field">
    <%= label_tag(:wuid, nil, class: 'sr-only') %>
    <%= text_field_tag :wuid, @values[:wuid], class: 'form-control', placeholder: 'Winthrop ID' %>
  </div>
  <br>
  <div id="field">
    <%= label_tag(:email, nil, class: 'sr-only') %>
    <%= text_field_tag :email, @values[:email], class: 'form-control', placeholder: 'Winthrop Username' %>
  </div>
  <hr>
  <div class="checkbox inline">
    <label>
      <%= check_box_tag(:interviewed, nil, checked = !@values[:interviewed].nil?) %>
      Has been interviewed
    </label>
  </div>
  <div class="checkbox inline">
    <label>
      <%= check_box_tag :work_study, 'true', checked = !@values[:work_study].nil? %>
      Work Study
    </label>
  </div>
  <hr>
  <div id="field">
    <%= label_tag :application_statuses,  'Application Status' %><br/>
    <% Status.statuses.each do |status| %>
      <div class="checkbox inline">
        <label>
          <% status_check = @values[:application_status].include?(status.num.to_s) if  @values[:application_status] != nil %>
          <%= check_box_tag("application_status[]", status.num, checked = status_check, id: "status_#{ status.num }" ) %>
          <%= status.name %>
        </label>
      </div>
    <% end %>
  </div>
  <hr>
  <div id="field">
    <div id="courseArea">
      <% unless @values[:course_id].nil? %>
        <% @values[:course_id].each do |course| %>
          <% next if course.blank? %>
          <div class="row" id="class">
            <div class="col-xs-7">
              <%= collection_select Course, :all, Course.all.order('hidden ASC, designator ASC'),
                :id, :full_name, { selected: course.to_s, prompt: 'Select Course' },
                name: 'course_id[]', class: 'form-control'  %>
            </div>
            <div class="col-xs-1">
              <%= link_to_remove_closest('Remove', '#class') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <a href ="#" id="addCourse">Add Course</a>
    (courses beginning with '-' have been marked as hidden)
  </div>
  <hr>
  <!-- Standing -->
  <div id = "field">
    <%= label_tag(:class_standings, 'Class Standing') %><br/>
    <% Standing.standings.each do |standing| %>
      <div class="checkbox inline">
        <label>
          <% standing_check = true #default value %>
          <% standing_check = @values[:class_standing].include?(standing.num.to_s) unless @values[:class_standing].nil? %>
          <%= check_box_tag 'class_standing[]', standing.num, checked = standing_check, id: "standing_#{ standing.num }" %>
          <%= standing.name %>
        </label>
      </div>
    <% end %>
  </div>
  <%= submit_tag('Search', class: 'btn btn-primary') %>
  <%= link_to 'Back', applicants_path, class: 'btn btn-primary' %>
<% end %>

<script>
  $(document).ready(function(){
    $("#addCourse").click(function (evt) {
      evt.preventDefault();
      var div_html = '<div class="row" id="class"><div class="col-xs-7">';
      div_html += "<%= escape_javascript(collection_select  Course, :all, Course.all.order('hidden ASC, designator ASC'), :id, :full_name, { prompt: 'Select Course' }, name: 'course_id[]', class: 'form-control' ) %> ";
      div_html += "</div>";
      div_html += "<div class='col-xs-1'><%= escape_javascript (link_to_remove_closest('Remove', '#class')) %></div></div>" ;
      $("#courseArea").append(div_html);
    });
  });
</script>
