<h2>Tutor Application</h2>
<div class="col-md-8">

<%= form_tag("/reports", method: "get") do %>

  <div id = "field">
    <%= label_tag(:name, nil, class: 'sr-only') %>
    <%= text_field_tag :name, nil, class: 'form-control', placeholder: 'Name' %>
  </div>
  <div id = "field">
    <%= label_tag(:wuid, nil, class: 'sr-only') %>
    <%= text_field_tag :wuid, nil, class: 'form-control', placeholder: 'WUId' %>
  </div>
  <div id = "field">
    <%= label_tag(:email, nil, class: 'sr-only') %>
    <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Email' %>
  </div>
  <hr>
  <div id="field">
    <%= label_tag(:interviewed, "Interviewed Student") %>
    <%= check_box_tag(:interviewed, nil) %>
  </div>
  <hr>
  <div id="field">
    <%= label_tag :application_status,  "Application Status" %><br/>
    <% Status.statuses.each do |status| %>
      <%= label_tag(:status, status.name) %>
      <%= check_box_tag("application_status[]", status.num) %>
    <% end %>
  </div>
  <hr>
  <div id="field">
    <div id="courseArea">
    </div>
    <button id="addCourse">Add Course</button>
  </div>
  <hr>
  <!-- Standing -->
  <div id = "field">
    <%= label_tag(:class_standing, "Freshmen") %>
    <%= check_box_tag "class_standing[]", '0' %>
    <%= label_tag(:class_standing, "Sophmore") %>
    <%= check_box_tag "class_standing[]", '1' %>
    <%= label_tag(:class_standing, "Junior") %>
    <%= check_box_tag "class_standing[]", '2' %>
    <%= label_tag(:class_standing, "Senior") %>
    <%= check_box_tag "class_standing[]", '3' %>
    <%= label_tag(:class_standing, "Graduate") %>
    <%= check_box_tag "standing[]", '4' %>
  </div>
  <hr>
  <div id = "field">
      <%= label_tag(:work_study, "Work Study") %>
      <%= check_box_tag :work_study, 'true' %>
  </div>
  <%= submit_tag("Search") %>
<% end %>

<%= link_to 'Back', applicants_path %>

<!-- TODO: add a button to remove courses -->
<script>
  $(document).ready(function(){
    $("#addCourse").click(function (evt) {
      evt.preventDefault();
      $("#courseArea").append("<br/><%= escape_javascript(collection_select  Course, :courses, Course.find_all_by_hidden_and_disabled(false, false), :id, :full_name, {}, name: "course_id[]" ) %>");
    });
  });
</script>
