<h2>Tutor Application</h2>
<div class="col-md-8">

<%= form_tag("/reports", method: "get") do %>

  <div id = "field">
    <%= label_tag(:name, nil, class: 'sr-only') %>
    <%= text_field_tag :name, @values[:name], class: 'form-control', placeholder: 'Name' %>
  </div>
  <div id = "field">
    <%= label_tag(:wuid, nil, class: 'sr-only') %>
    <%= text_field_tag :wuid, @values[:wuid], class: 'form-control', placeholder: 'WUId' %>
  </div>
  <div id = "field">
    <%= label_tag(:email, nil, class: 'sr-only') %>
    <%= text_field_tag :email, @values[:email], class: 'form-control', placeholder: 'Email' %><%= EMAIL_SUFFIX %>
  </div>
  <hr>
  <div id="field">
    <%= label_tag(:interviewed, "Interviewed Student") %>
    <%= check_box_tag(:interviewed, nil, checked = !@values[:interviewed].nil?) %>
  </div>
  <hr>
  <div id="field">
    <%= label_tag :application_statuses,  "Application Status" %><br/>
    <% Status.statuses.each do |status| %>
      <%= label_tag(:application_status, status.name) %>
      <% status_check = @values[:application_status].include?(status.num.to_s) if  @values[:application_status] != nil %>
      <%= check_box_tag("application_status[]", status.num, checked = status_check ) %>
    <% end %>
  </div>
  <hr>
  <div id="field">
    <div id="courseArea">
      <% if @values[:course_id] != nil %>
        <% @values[:course_id].each do |course| %>
          <% course_div_id = SecureRandom.uuid.to_s %>
          <div id="class">
            <%= collection_select  Course, :courses, Course.find_all_by_hidden_and_disabled(false, false), :id, :full_name, {selected: course.to_s, prompt: 'Select Course'}, name: "course_id[]"  %>
            <%= link_to_remove_closest("Remove", "#class") %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a href ="#" id="addCourse">Add Course</a>
  </div>
  <hr>
  <!-- Standing -->
  <div id = "field">
    <%= label_tag(:class_standings, "Class Standing") %><br/>
    <% Standing.standings.each do |standing| %>
      <%= label_tag(:class_standing, standing.name) %>
      <% standing_check = true #default value %>
      <% standing_check = @values[:class_standing].include?(standing.num.to_s) if @values[:class_standing] != nil %>
      <%= check_box_tag "class_standing[]", standing.num, checked = standing_check %>
    <% end %>
  </div>
  <hr>
  <div id = "field">
    <%= label_tag(:work_study, "Work Study") %>
    <%= check_box_tag :work_study, 'true', checked = !@values[:work_study].nil? %>
  </div>
  <%= submit_tag("Search") %>
<% end %>

<%= link_to 'Back', applicants_path %>

<script>
  $(document).ready(function(){
    var course_div_id = new Date().getTime();
    $("#addCourse").click(function (evt) {
      evt.preventDefault();
      var div_html = '<div id="class">';
      div_html += "<%= escape_javascript(collection_select  Course, :courses, Course.find_all_by_hidden_and_disabled(false, false), :id, :full_name, {prompt: 'Select Course'}, name: "course_id[]" ) %> ";
      div_html += "<%= escape_javascript (link_to_remove_closest('Remove', '#class')) %>" ;
      div_html += "</div>";
      $("#courseArea").append(div_html);
    });
  });
</script>
