<!DOCTYPE html>
<html>
<head>
  <title>Asc476</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/">ASC Tutoring</a>
    </div>
    <div class="navbar-collapse collapse">
      <% if logged_in_moderator? %>
        <ul class="nav navbar-nav ">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%= 'active' if params[:controller] == 'applicants' %>"><a href="<%= applicants_path %>">Applicants</a></li>
              <li class="<%= 'active' if params[:controller] == 'professors' %>"><a href="<%= professors_path %>">Professors</a></li>
              <li class="<%= 'active' if params[:controller] == 'courses' %>"><a href="<%= courses_path %>">Courses</a></li>
            </ul>
          </li>
          <li class="<%= 'active' if params[:controller] == 'reports' %>"><a href="<%= filter_reports_path %>">Reports</a></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in_admin? %>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%= 'active' if params[:controller] == 'users' %>"><a href="<%= users_path %>">Users</a></li>
              <li class="<%= 'active' if params[:controller] == 'emails' %>"><a href="<%= emails_path %>">Emails</a></li>
            </ul>
          </li>
        <% end %>

        <% if logged_in_moderator? %>
          <li><a href="<%= edit_user_path(current_user) %>">test@example.com</a></li>
          <li><a data-method="delete" href="<%= signout_path %>" rel="nofollow">Log Out</a></li>
        <% else %>
          <li><a href="<%= signin_path %>" rel="nofollow">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

<%# <%= debug(params) if Rails.env.development? %1> %>

<script type="text/javascript">
$('table.clickable tbody tr a').click(function(e) {
  e.stopPropagation();
});

$('table.clickable tbody tr').click(function() {
  window.location = this.id;
});
</script>

</body>
</html>
